body{
  margin:0;
  padding: 0;
  background-color: #83bed4;
}
h1{
  margin:0;
}
button:hover{
  cursor: pointer;
}
input[type=text],input[type=password]{
  height:2em;
  border-radius: 6px;
  width: 150px;
  padding-left: 5px;
}
input[type=submit] {
  background-color: #666666;
  height:2.5em;
  border-radius: 6px;
  width:100%;
  color:white;
  border:none;
  width: 150px;
  font-weight: bold;
}
input[type=submit]:hover {
  background-color: #333333;
  cursor: pointer;

}
select{
  height:2.5em;
  border-radius: 6px;
  width:150px;
  margin:0;
}
/*/////////////////////////////////////////////////////////*/
#container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/*/////////////////////////////////////////////////////////*/
#userBox{
  position: fixed;
  top: 0px;
  right: 0px;
}
/*/////////////////////////////////////////////////////////*/
#logo{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
#logo h1{
  font-size: 64px;
  font-family: cursive;
  color: black;
}
#logo img{
  max-height: 150px;
}

#flexContainer{
  margin-top: 10px;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
}

.menu{
  list-style-type: none;
  border-radius: 10px;
  width:180px;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}
.menu li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.menu li a.active{
  background-color: #4CAF50;
  color: white;
}
.menu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.shopItem{
  background-color: #666666;
  width:30%;
  min-width: 100px;
  margin:1%;
  display: flex;
  flex-direction: column;
}
.shopItem h3,p,.itemNameDiv{
  margin-left: auto;
  margin-right: auto;
}
.shopItem button{
  width:50%;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}
.shopItem img{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
}

.pagination{
  margin-bottom: 50px;
}
.pagination ul{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
.pagination ul li{
  list-style-type: none;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #666666;
  cursor: pointer;
}
.pagination ul li:hover{
  background-color: #333333;
}
.pagination a{
  text-decoration: none;
  color: white;
}
.pagItem{
    margin-right: 1px;
}
