body{
  margin:0;
  padding: 0;
  background-image: url("../images/background.jpg");
}
h1{
  margin:0;
}
#container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#userBox{
  position: fixed;
  top: 0px;
  right: 0px;
}
